@model IEnumerable<Blog_MVCProject.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Blog - Comments</h2>
</div>


<div class="comments" id="list-comments">
    @foreach (var comment in Model)
    {
        <div class="comments-wrapper" id="comments-wrapper">
            <div class="blog-comments" id="comment-author">
                Published by: @Html.DisplayFor(modelComment => comment.AuthorName) on @Html.DisplayFor(modelItem => comment.Date)
            </div>
            <div class="blog-comments" id="comment-text">
                @Html.DisplayFor(modelComment => comment.Text)
            </div>
            <div class="buttons" id="edit-buttons">
                <ul>
                    @if (User.IsInRole("Admins"))
                    {
                        <li><button>@Html.ActionLink("Edit", "Edit", new { id = comment.Id })</button></li>
                        <li><button>@Html.ActionLink("Delete", "Delete", new { id = comment.Id })</button></li>
                    }
                </ul>
            </div>
        </div>
    }
</div>