@model Blog_MVCProject.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Content
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            Published
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        @if (Model.DateModified != null)
        {
            <dt>
                Modified
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateModified)
            </dd>
        }

    </dl>

    <div>Comments</div>
    @foreach (var comment in Model.Comments)
    {
        <div>
            @Html.DisplayFor(modelComment => comment.Text)
        </div>
    }
</div>
<p>
    @if (User.IsInRole("Admins") || User.Identity.Name == Model.Author.UserName)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
