@using Blog_MVCProject.Classes;
@using Blog_MVCProject.Models

@model List<Post>

@{
    ViewBag.Title = "Index";

}

<div class="jumbotron">
    <h2>Blog - Posts</h2>
</div>

<hr />

<div class="create-post">
    <button>
        @Html.ActionLink("Create New Post", "Create")
    </button>
</div>

<hr />

<section class="post-section" id="all-posts">
    @foreach (var post in Model)
    {
        <article class="posts">
            <h3 class="post-title"><a href="/Posts/Details/@post.Id">@post.Title</a></h3>
            <div class="publish-info">
                <i>Published on @post.Date</i>
                @if (post.Author != null)
                {
                    <i>by @post.Author.FullName (@post.Author.UserName)</i>
                }
            </div>
            <div class="post-body">
                @Html.Raw(@Tools.CutText(post.Body))
            </div>
            <div class="buttons">
                <ul>
                    @if (User.IsInRole("Admins") || User.Identity.Name == post.Author.UserName)
                    {
                        <li><button>@Html.ActionLink("Edit", "Edit", new { id = post.Id })</button></li>
                        <li><button>@Html.ActionLink("Details", "Details", new { id = post.Id })</button></li>
                        <li><button>@Html.ActionLink("Delete", "Delete", new { id = post.Id })</button></li>
                    }
                    else
                    {
                        <li><button>@Html.ActionLink("Details", "Details", new { id = post.Id })</button></li>
                    }
                </ul>
            </div>
            <div id="comments">Comments</div>
            @if (post.Comments.Count > 0)
            {
            <div class="comments">
                @foreach (var comment in post.Comments)
                {
                    <div class="comments-wrapper">
                        <div id="comment-author">
                            Published by: @Html.DisplayFor(modelComment => comment.AuthorName) on @comment.Date
                        </div>
                        <div id="comment-text">
                            @*@@Html.DisplayFor(modelComment => comment.Text)*@
                            @Tools.CutText(comment.Text)
                        </div>
                    </div>
                }
            </div>
            }
            <div id="comment-button">
                <button>
                    @Html.ActionLink("Add Comment", "Create", "Comments")
                </button>
</div>
        </article>
    }
</section>