@using Blog_MVCProject.Classes;
@using Blog_MVCProject.Models

@model List<Post>

@{
    ViewBag.Title = "Index";

}

<div class="jumbotron">
    <h2>Blog - Posts</h2>
</div>

<hr />

<div class="create-post">
    <button>
        @Html.ActionLink("Create New Post", "Create")
    </button>
</div>

<hr />

<section class="post-section">
    @foreach (var post in Model)
    {
        <article class="posts">
            <h3 class="post-title"><a href="/Posts/Details/@post.Id">@post.Title</a></h3>
            <div class="publish-info">
                <i>Published on @post.Date</i>
                @if (post.Author != null)
                {
                    <i>by @post.Author.FullName (@post.Author.UserName)</i>
                }
            </div>
            <div class="post-body">
                @Tools.CutText(post.Body)
            </div>
            <div class="comments">
                <ul>
                    @if (User.IsInRole("Admins") || User.Identity.Name == post.Author.UserName)
                    {
                        <li><button>@Html.ActionLink("Edit", "Edit", new { id = post.Id })</button></li>
                        <li><button>@Html.ActionLink("Details", "Details", new { id = post.Id })</button></li>
                        <li><button>@Html.ActionLink("Delete", "Delete", new { id = post.Id })</button></li>
                    }
                    else
                    {
                        <li><button>@Html.ActionLink("Details", "Details", new { id = post.Id })</button></li>
                    }
                </ul>
            </div>
        </article>
    }
</section>

    @foreach (var item in Model)
    {
        <div>
            <td>
                @foreach (var comment in item.Comments)
                {
                    <div>
                        @Html.DisplayFor(modelComment => comment.Text)
                    </div>
                }
            </td>
            <td>
                
            </td>
        </div>
    }